<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/layout">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>자몽다 검색조회페이지</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/selectSearch.css}" />
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<style>
		.filter-form label {
			display: block;
			margin-bottom: 10px;
		}

		.filter-form #price-slider {
			margin-top: 20px;
		}

		.filter-form input[type="number"] {
			width: 100%;
			padding: 8px;
			border: 1px solid #ccc;
			border-radius: 4px;
			box-sizing: border-box;
		}

		.price_submit {
			width: 100%;
			height: 40px;
			background: rgba(255, 111, 97, 0.5);
			border-radius: 10px;
			margin-top: 10px;
		}

		/* 페이징관련 CSS */
		.pagination {
			margin: 20px auto;
			display: flex;
			justify-content: center;
		}

		.pagination button {
			margin: 0 5px;
			padding: 5px 10px;
			background-color: #FEB6AF;
			color: white;
			border: none;
			cursor: pointer;
			font-weight: bold;
			font-size: 1.5em;
		}

		.pagination button.active {
			background-color: #fc6053;
		}

		#list-gap {
			margin-bottom: 25px;
		}
	</style>
	<script src="https://kit.fontawesome.com/e9b58f4b27.js" crossorigin="anonymous"></script>
	<script th:src="@{/js/acc.js}"></script>
	<!-- 제이쿼리 -->
	<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
	<!-- 달력라이브러리 소스 -->
	<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>


	<script>
		$(function () {
			//페이징
			var itemsPerPage = 10;
			var currentPage = 1;
			var accItems = $(".acc_box");

			function showPage(page) {
				var start = (page - 1) * itemsPerPage;
				var end = start + itemsPerPage;

				accItems.hide().slice(start, end).show();

				renderPagination();
			}

			function renderPagination() {
				var totalPages = Math.ceil(accItems.length / itemsPerPage);
				var paginationContainer = $(".pagination");
				paginationContainer.empty();

				for (var i = 1; i <= totalPages; i++) {
					var button = $("<button>").text(i).attr("data-page", i);
					if (i === currentPage) {
						button.addClass("active");
					}
					paginationContainer.append(button);
				}
			}

			$(".pagination").on("click", "button", function () {
				currentPage = parseInt($(this).attr("data-page"));
				showPage(currentPage);
			});

			showPage(currentPage);


			// 로컬 저장소에서 날짜 값 가져오기
			var startDate = localStorage.getItem('startDate');
			var endDate = localStorage.getItem('endDate');

			$('#bo_checkIn').daterangepicker({
				timePicker: false,
				startDate: startDate ? moment(startDate) : moment().startOf('day'),
				endDate: endDate ? moment(endDate) : moment().startOf('day').add(7, 'days'),
				locale: {
					format: 'YYYY-MM-DD'
				}
			}, function (start, end) {
				// 선택된 날짜 범위를 로컬 저장소에 저장
				localStorage.setItem('startDate', start.format('YYYY-MM-DD'));
				localStorage.setItem('endDate', end.format('YYYY-MM-DD'));
				$('input[name="checkIn"]').val(start.format('YYYY-MM-DD'));
				$('input[name="checkOut"]').val(end.format('YYYY-MM-DD'));
			});
			var acc_name = localStorage.getItem('acc_name');
			var acc_area = localStorage.getItem('acc_area');
			if (acc_name) {
				document.getElementById('acc_name').value = acc_name;
			} else {
				document.getElementById('acc_name').value = '';
			}
			if (acc_area) {
				document.getElementById('acc_area').value = acc_area;
			} else {
				document.getElementById('acc_area').value = '';
			}

			$('#form2').on('submit', function (event) {
				// 로컬 저장소에 저장된 데이터를 클리어하지 않도록 주의
				var acc_name = document.getElementById('acc_name').value;
				var acc_area = document.getElementById('acc_area').value;
				localStorage.setItem('acc_name', acc_name);
				localStorage.setItem('acc_area', acc_area);
				localStorage.setItem('startDate', $('#bo_checkIn').data('daterangepicker').startDate.format('YYYY-MM-DD'));
				localStorage.setItem('endDate', $('#bo_checkIn').data('daterangepicker').endDate.format('YYYY-MM-DD'));
			});



			// 초기 값 설정 (필요시)
			var initialStartDate = $('input[name="datetimes"]').data('daterangepicker').startDate.format('YYYY-MM-DD');
			var initialEndDate = $('input[name="datetimes"]').data('daterangepicker').endDate.format('YYYY-MM-DD');
			$('input[name="checkIn"]').val(initialStartDate);
			$('input[name="checkOut"]').val(initialEndDate);
			//날짜 저장 끝

			//가격설정 시작
			// 초기 변수 설정
			var initialMinPrice = 0;
			var initialMaxPrice = 500000;

			// 서버에서 초기 데이터 불러오기
			updateInitialPricesFromServer();

			// 슬라이더 초기 설정
			$("#price-slider").slider({
				range: true,
				min: 0,
				max: 1000000, // 최대 가격 설정 (임의로 예시로 설정)
				step: 10000, // 슬라이더 단계 (임의로 예시로 설정)
				values: [initialMinPrice, initialMaxPrice], // 초기 범위 설정
				slide: function (event, ui) {
					// 슬라이더 값 업데이트
					$("#minPrice").val(ui.values[0]);
					$("#maxPrice").val(ui.values[1]);
				},
				stop: function (event, ui) {
					// 슬라이더 조절이 멈추면 초기 변수 업데이트
					initialMinPrice = ui.values[0];
					initialMaxPrice = ui.values[1];
				}
			});

			// 입력 필드 값 변경 시 슬라이더 업데이트 및 폼 제출
			$("#minPrice, #maxPrice").on("input", function () {
				var minPrice = $("#minPrice").val();
				var maxPrice = $("#maxPrice").val();
				updateSliderValues(minPrice, maxPrice); // 슬라이더 값 업데이트
			});

			/*
			// Enter 키를 눌렀을 때 폼 제출
			$("#minPrice, #maxPrice").keydown(function (event) {
				if (event.keyCode === 13) { // 13은 Enter 키의 keyCode입니다.
					submitForm(); // 폼 제출 함수 호출
					event.preventDefault(); // 기본 동작 방지
				}
			});
			*/
			// 슬라이더 값을 업데이트하는 함수
			function updateSliderValues(minPrice, maxPrice) {
				$("#price-slider").slider("values", [minPrice, maxPrice]);
			}

			// 폼 제출 함수
			function submitForm() {
				// 폼 제출
				document.getElementById("filterForm").submit();
			}

			// 서버에서 초기 데이터를 가져오는 함수
			function updateInitialPricesFromServer() {
				$.ajax({
					url: "/search/selectPrice.do", // 서버에서 데이터를 받아올 엔드포인트
					method: "GET",
					success: function (data) {
						// 서버에서 받아온 데이터를 변수에 할당
						initialMinPrice = data.minPrice;
						initialMaxPrice = data.maxPrice;

						// 슬라이더의 값도 업데이트
						$("#price-slider").slider("values", [initialMinPrice, initialMaxPrice]);
					},
					error: function () {
						console.log("서버에서 초기 가격을 불러오는 데 실패했습니다.");
					}
				});
			}

			// 페이지 로드 시 로컬 저장소에서 선택된 숙소 유형을 가져와 설정
			var selectedAccType = localStorage.getItem('selectedAccType');
			if (selectedAccType) {
				document.getElementById(selectedAccType).checked = true;
			}

			// 라디오 버튼 클릭 시 선택된 값을 로컬 저장소에 저장
			function handleRadioClick(option) {
				// 선택된 라디오 버튼만 checked 속성을 true로 설정
				document.getElementById(option).checked = true;
				// 선택된 숙소 유형을 로컬 저장소에 저장
				localStorage.setItem('selectedAccType', option);
			}
			/*
			function handleRadioClick(option) {
				// 모든 라디오 버튼의 checked 속성을 false로 설정
				document.querySelectorAll('input[name="acc_type"]').forEach(item => {
					item.checked = false;
				});

				// 선택된 라디오 버튼만 checked 속성을 true로 설정
				document.getElementById(option).checked = true;
			}
			*/
		});

	</script>
</head>

<body>
	<th:block layout:fragment="content">
		<section class="sct1">
			<div class="wrapper sct1_wrap">
				<div class="search_wrap">
					<form th:action="@{/search/selectSearch.do}" method="get" name="frmSelect" id="form2">
						<input type="hidden" name="action" value="searchAcc">
						<input type="search" placeholder="숙소이름" name="acc_name" id="acc_name">
						<input type="search" placeholder="지역" name="acc_area" id="acc_area">
						<!-- 지역이 나오면 검색조회페이지로 숙소이름이 나오면 검색상세페이지로 리다이렉트 -->
						<input type="text" name="datetimes" required id="bo_checkIn">
						<!--<input type="number" placeholder="기준인원수">-->
						<!-- 인원수 -->
						<input type="submit" id="submit" class="search_submit" value="검색">
						<!-- 체크인, 체크아웃 -->
						<input type="hidden" name="checkIn">
						<input type="hidden" name="checkOut">
					</form>
				</div>

			</div>
		</section>
		<div class="wrapper contents_wrap">
			<aside>

				<section id="acc_filter">
					<h2>숙소유형</h2>

					<form th:action="@{/search/selectRadio.do}" method="get" name="frmRadio">
						<input type="hidden" name="action" value="searchRadio">

						<input type="radio" name="acc_type" value="모텔" th:checked="${acc_type == '모텔'}"
							onchange="this.form.submit()">
						<span>모텔</span><br>

						<input type="radio" name="acc_type" value="호텔/리조트" th:checked="${acc_type == '호텔/리조트'}"
							onchange="this.form.submit()">
						<span>호텔/리조트</span><br>

						<input type="radio" name="acc_type" value="펜션" th:checked="${acc_type == '펜션'}"
							onchange="this.form.submit()">
						<span>펜션</span><br>

						<input type="radio" name="acc_type" value="글램핑" th:checked="${acc_type == '글램핑'}"
							onchange="this.form.submit()">
						<span>글램핑</span><br>


						<!-- 2024-07-21 코드추가 -->
						<input type="hidden" name="checkIn">
						<input type="hidden" name="checkOut">
					</form>

				</section>

				<div class="filter-form">
					<h2>가격</h2>
					<form id="filterForm" th:action="@{/search/selectPrice.do}" method="GET">
						<input type="hidden" name="action" value="searchPrice">
						<label for="minPrice">최저가</label>
						<input type="number" id="minPrice" name="minPrice" placeholder="최저금액을 입력해주세요" required>

						<label for="maxPrice">최고가</label>
						<input type="number" id="maxPrice" name="maxPrice" placeholder="최대금액을 입력해주세요" required>

						<input type="hidden" id="initialMinPrice" value="${minPrice}">
						<input type="hidden" id="initialMaxPrice" value="${maxPrice}">
						<!-- 폼 제출을 위한 숨겨진 버튼 -->
						<button type="submit" class="price_submit">검색</button>
						<input type="hidden" name="checkIn">
						<input type="hidden" name="checkOut">
					</form>
				</div>
			</aside>


			<section class="sct2">
				<!--맨 위 검색-->
				<th:block th:if="${accListsrch != null and  #lists.size(accListsrch) > 0}">
					<div class="acc_list" th:each="acc : ${accListsrch}">
						<a
							th:href="@{/search/detailSearch.do(aid=${acc.acc_id}, checkIn=${bo_checkIn}, checkOut=${bo_checkOut})}">
							<div class="acc_box">
								<div class="acc_image">
									<img th:src="@{/accDownload.do(acc_id=${acc.acc_id}, acc_image=${acc.acc_image})}"
										th:alt="${acc.acc_id}">
								</div>
								<div class="acc_info">
									<div class="box1">
										<div class="acc_title">
											<p th:text="${acc.acc_type}"></p>
											<h2 th:text="${acc.acc_name}"></h2>
										</div>
									</div>
									<div class="box2">
										<div class="acc_price">
											<span>가격</span><span class="price_font_big"
												th:text="${#numbers.formatInteger(acc.ro_price, 3, 'COMMA') + '원'}"></span>
										</div>

									</div>
								</div>
							</div>
						</a>
					</div>
				</th:block>

				<!--숙소유형-->
				<th:block th:if="${accListType != null and #lists.size(accListType) > 0}">
					<div class="acc_list" th:each="acc_t : ${accListType}"
						th:if="${accListType != null and #lists.size(accListType) > 0}">
						<a
							th:href="@{/search/detailSearch.do(aid=${acc_t.acc_id}, checkIn=${bo_checkIn}, checkOut=${bo_checkOut})}">
							<div class="acc_box">
	
								<div class="acc_image">
	
									<img th:src="@{/accDownload.do(acc_id=${acc_t.acc_id}, acc_image=${acc_t.acc_image})}"
										th:alt="${acc_t.acc_id}">
								</div>
								<div class="acc_info">
									<div class="box1">
										<div class="acc_title">
											<p th:text="${acc_t.acc_type}"></p>
											<h2 th:text="${acc_t.acc_name}"></h2>
	
	
										</div>
									</div>
									<div class="box2">
										<div class="acc_price">
											<span>가격</span><span class="price_font_big"
												th:text="${#numbers.formatInteger(acc_t.ro_price, 3, 'COMMA') + '원'}"></span>
										</div>
									</div>
								</div>
							</div>
						</a>
					</div>
				</th:block>


				<!--가격 검색-->
				<th:block th:if="${accRangePrice != null and #lists.size(accRangePrice) > 0}">
					<div class="acc_list" th:each="acc_p : ${accRangePrice}"
						th:if="${accRangePrice != null and #lists.size(accRangePrice) > 0}">
						<a
							th:href="@{/search/detailSearch.do(aid=${acc_p.acc_id}, checkIn=${bo_checkIn}, checkOut=${bo_checkOut})}">
							<div class="acc_box">
	
								<div class="acc_image">
	
									<img th:src="@{/accDownload.do(acc_id=${acc_p.acc_id}, acc_image=${acc_p.acc_image})}"
										th:alt="${acc_p.acc_id}">
								</div>
								<div class="acc_info">
									<div class="box1">
										<div class="acc_title">
											<p th:text="${acc_p.acc_type}"><a
													th:href="@{/search/detailSearch.do(aid=${acc_p.acc_id}, checkIn=${bo_checkIn}, checkOut=${bo_checkOut})}"></a>
											</p>
											<h2 th:text="${acc_p.acc_name}"><a
													th:href="@{/search/detailSearch.do(aid=${acc_p.acc_id}, checkIn=${bo_checkIn}, checkOut=${bo_checkOut})}"></a>
											</h2>
										</div>
									</div>
									<div class="box2">
										<div class="acc_price">
											<span>가격</span><span class="price_font_big"
												th:text="${#numbers.formatInteger(acc_p.ro_price, 3, 'COMMA') + '원'}"></span>
										</div>
									</div>
								</div>
							</div>
						</a>
					</div>
				</th:block>
				<!--페이지넘버-->
				<div class="pagination">
					<button id="load-more-btn"></button>
				</div>
			</section>
		</div>
	</th:block>

</body>

</html>