<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="/layout/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>자몽다 검색조회페이지</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/selectSearch.css}" />
    <script src="https://kit.fontawesome.com/e9b58f4b27.js" crossorigin="anonymous"></script>
	<script th:src="@{/js/acc.js}"></script>
</head>
<body>
	<th:block layout:fragment="content">
	<section class="sct1">
		<div class="wrapper sct1_wrap">	
		    <div class="search_wrap">
			    <form th:action="@{/search/selectSearch.do}" method="get" name="frmSelect">
					<input type="hidden" name="action" value="searchAcc">
			       <input type="text" placeholder="숙소이름" name="acc_name">
			       <input type="text" placeholder="지역" name="acc_area">
			       <!-- 지역이 나오면 검색조회페이지로 숙소이름이 나오면 검색상세페이지로 리다이렉트 -->
			       <input type="date" name="bo_checkIn">부터
			       <input type="date" name="bo_checkOut">까지
			       <input type="number" placeholder="기준인원수">
			       <!-- 인원수 -->
			       <input type="submit" id="submit" class="search_submit" value="검색">
			     </form>
			  </div>
						
		 </div>
	 </section>
    <div class="wrapper contents_wrap">
        <aside>
            <section id="kakao_map">
				<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=5d2ebc3769eda258f89dbd34ce81f5c3"></script>
					<script>
						var mapContainer = document.getElementById('kakao_map'), // 지도를 표시할 div 
						    mapOption = { 
						        center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
						        level: 3 // 지도의 확대 레벨
						    };

						var map = new kakao.maps.Map(mapContainer, mapOption);

						// 마커가 표시될 위치입니다 
						var markerPosition  = new kakao.maps.LatLng(33.450701, 126.570667); 

						// 마커를 생성합니다
						var marker = new kakao.maps.Marker({
						    position: markerPosition
						});

						// 마커가 지도 위에 표시되도록 설정합니다
						marker.setMap(map);

						var iwContent = '<div style="padding:5px;">숙소 길찾기 <br><a href="https://map.kakao.com/link/map/Hello World!,33.450701,126.570667" style="color:blue" target="_blank">큰지도보기</a> <a href="https://map.kakao.com/link/to/Hello World!,33.450701,126.570667" style="color:blue" target="_blank">길찾기</a></div>', // 인포윈도우에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다
						    iwPosition = new kakao.maps.LatLng(33.450701, 126.570667); //인포윈도우 표시 위치입니다

						// 인포윈도우를 생성합니다
						var infowindow = new kakao.maps.InfoWindow({
						    position : iwPosition, 
						    content : iwContent 
						});
						  
						// 마커 위에 인포윈도우를 표시합니다. 두번째 파라미터인 marker를 넣어주지 않으면 지도 위에 표시됩니다
						infowindow.open(map, marker); 
					</script>
                <button>지도보기</button>
            </section>
            <section id="acc_filter">
                <h2>숙소유형</h2>
				<!--<form th:action="@{/search/detailSearch.do}" method="get" name="frmRadio">
					<div>
					    <input type="radio" name="acc_type" value="motel" id="motel"><span>모텔</span>
					</div>
					<div>
					    <input type="radio" name="acc_type" value="hotel" id="hotel"><span>호텔/리조트</span>
					</div>
					<div>
					    <input type="radio" name="acc_type"value="pension" id="pension"><span>펜션</span>
					</div>
					<div>
					    <input type="radio" name="acc_type" value="glamping" id="glamping"><span>글램핑</span>
					</div>
					<input type="hidden" name="action" value="searchAcc">					
				</form>-->
				<form th:action="@{/search/selectSearch.do}" method="get" name="frmRadio">
					<input type="hidden" name="action" value="searchRadio">
						<input type="radio" name="acc_type" value="모뎉" onchange="this.form.submit()"><span>모텔</span><br>
						<input type="radio" name="acc_type" value="호텔/리조트" onchange="this.form.submit()"><span>호텔/리조트</span><br>
						<input type="radio" name="acc_type" value="펜션" onchange="this.form.submit()"><span>펜션</span><br>
						<input type="radio" name="acc_type" value="글램핑" onchange="this.form.submit()"><span>글램핑</span>
				</form>

            </section>
            <section id="price_filter" class="wrapper">
                <h2>가격</h2>
                <!-- 출처:https://www.youtube.com/watch?v=FShnKqPXknI -->
                <div class="price-input">
                    <div class="field">
                        <span>Min</span>
                        <input type="number" class="input-min" value="10000">
                    </div>
                    <div class="separator">-</div>
                    <div class="field">
                        <span>Min</span>
                        <input type="number" class="input-max" value="500000">
                    </div>
                </div>
                <div class="slider">
                    <div class="progress"></div>
                </div>
                <div class="range-input">
                    <input type="range" class="range-min" min="0" max="500000" value="10000" step="20000">
                    <input type="range" class="range-max" min="0" max="500000" value="500000" step="20000">
                </div>
                <span>0원 ~ 500,000원 이상</span>
            </section>
        </aside>
        <section class="sct2">
            <div class="sct2_head" >
                <h2>숙소리스트</h2>
                <select class="sort">
                    <option selected>인기순</option>
                    <option>최저가순</option>
                    <option>최신순</option>
                </select>
            </div>
            <div class="acc_list">
				<!--<table border="1" align="center" width="700">
							<tr align="center" bgcolor="lightgreen">
								<th>숙소 지역</th><th>숙소 이름</th><th>체크인</th>
								<th>체크아웃</th><th>기준인원수</th><th>아이디 번호</th>
							</tr>
							<tr align="center" th:each="acc : ${accList}">
								   	<td th:text=${acc.acc_area}></td>
									<td ></td>
									<td th:text=${acc.acc_checkIn}></td>
									<td th:text=${acc.acc_checkOut}></td>
									<td th:text=${acc.acc_person}></td>
									<td th:text=${acc.acc_id}></td>				
							</tr>				
						</table>-->
                <div class="acc_box" th:each="acc : ${accListsrch}">
					
                    <div class="acc_image">
						
                        <img src="../../../images/acc1.jpg" alt="">
                    </div>
                    <div class="acc_info">
                        <div class="box1">
                            <div class="acc_title">
                                <p><a th:href="@{/search/detailSearch.do(acc_id=${acc.acc_id})}" th:text=${acc.acc_type}></a></p>
                                <h2><a th:href="@{/search/detailSearch.do(acc_id=${acc.acc_id})}" th:text=${acc.acc_name}> </a></h2>
                            </div>
                            <div class="acc_zzim">
                                <button><i class="fa-regular fa-heart"></i>찜하기</button>
                            </div>
                        </div>
                        <div class="box2">
                            <div class="acc_price"><a th:href="@{/search/detailSearch.do(acc_id=${acc.acc_id})}"><span>가격</span><span class="price_font_big">100,000원</span></a></div>
                        </div>
                    </div>
                </div>
				
            <div class="pagination">
                <ul>
                    <li>prev</li>
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>next</li>
                </ul>
            </div>
        </section>
    </div>
    </th:block>
	
</body>
</html>