<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout">
<head>
<meta charset="UTF-8">
<title>JAMONGDA : 전체예약내역</title>
<link rel="stylesheet" th:href="@{/css/myBookingList.css}" />
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" th:src="@{/js/myBookingList.js}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
    <th:block layout:fragment="content">
		<div id="booking-top">
			<div class="mypage-container">
			    <div class="header">
			        <h1>예약 내역</h1>
					<input type="checkbox" id="showCompleted" class="showComplete-btn"/>
					<label for="showCompleted">이용완료 내역 보기</label>
			    </div>
			    <div id="booking-history" class="booking-history">
			        <div class="booking-card" th:each="booking : ${bookingList}">
			            <div class="booking-header">
			                <span class="booking-number" th:text="'예약번호 : ' + ${booking['bo_number']}"></span>
			                <span class="booking-date" th:text="'결제일자 : ' + ${booking['payDate']}"></span>
			                <a href="#" class="details-link" th:attr="onclick='openPopup(' + ${booking['bo_number']} + ')'">상세보기</a>
			            </div>
			            <div class="booking-content">
			                <div class="hotel-info">
			                    <div class="acc-name" th:text="${booking['acc_name']}"></div>
								<input type="hidden" name="ro_id" th:value="${booking.ro_id}">
			                    <div class="ro_name" th:text="${booking['ro_name']}"></div>
								<br>
			                    <div class="booking-dates" th:text="'숙박일자 : ' + ${booking['bo_checkIn']} + ' ~ ' + ${booking['bo_checkOut']}"></div>
			                    <div class="check-in-out" th:text="'체크인 ' + ${booking['ro_checkIn']} + ' | 체크아웃 ' + ${booking['ro_checkOut']}"></div>
			                </div>
			            </div>
			            <div class="review-booking-btn">
							<a id="review-button" th:href="@{/review/reviewForm.do(number=${booking.bo_number},rid=${booking.ro_id},aname=${booking.acc_name},rname=${booking.ro_name})}" class="review-link" th:if="${booking.isPastCheckout}">리뷰 등록</a>
							<a th:href="@{/search/detailSearch.do(aid=${booking.acc_id})}" class="reBooking-link">다시 예약</a>
			            </div>
			        </div>
			    </div>
			</div>
		</div>
    </th:block>
</body>
</html>