<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>JANMONGDA : 예약 상세</title>
<link rel="stylesheet" th:href="@{/css/myBookingDetails.css}" />
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" th:src="@{/js/myBookingDetails.js}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    	var bookingPrice = /*[[${myBookingDetails['bo_price']}]]*/ 270000;
    /*]]>*/
</script>
</head>
<body>
    <th:block layout:fragment="content">
        <div class="details-container">
            <div class="details-header">
                <h2>예약 상세 정보</h2>
            </div>
            <div class="details-content">
                <div class="details-row">
                    <div class="details-info">
						<h3>예약 정보</h3>
                        <div class="details-item" id="boNumber-section">
                            <span class="details-label">예약번호:</span>
                            <span class="details-value" th:text="${myBookingDetails['bo_number']}"></span>
                        </div>
						
                        <div class="details-item" id="product-section">
                            <span class="details-value" th:text="'이용숙소 : ' + ${myBookingDetails['acc_name']}"></span>
                        </div>
                        
						<div class="details-item" id="product-section">
                            <span class="details-value" th:text="'이용객실 : ' + ${myBookingDetails['ro_name']}"></span>
                        </div>
						<br>
                        <div class="check-section">
                            <div class="check-in" id="checkIn-section">
                                <div class="details-item">
                                    <span class="details-value" th:text="${myBookingDetails['bo_checkIn']}"></span>
                                </div>
                                <div class="details-item">
                                    <span class="details-value" th:text="${myBookingDetails['ro_checkIn']}"></span>
                                </div>
                            </div>
							
                            <div class="check-out" id="checkOut-section">
                                <div class="details-item">
                                    <span class="details-value" th:text="${myBookingDetails['bo_checkOut']}"></span>
                                </div>
                                <div class="details-item">
                                    <span class="details-value" th:text="${myBookingDetails['ro_checkOut']}"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="details-row">
                    <div class="details-info">
                        <h3>예약자 정보</h3>
                        <div class="details-item">
                            <span class="details-label">이용자 이름:</span>
                            <span class="details-value" th:text="${myBookingDetails['bo_name']}"></span>
                        </div>
						
                        <div class="details-item">
                            <span class="details-label">이용자 전화번호:</span>
                            <span class="details-value" th:text="${myBookingDetails['bo_tel']}"></span>
                        </div>
                    </div>
                </div>

                <div class="details-row">
                    <div class="details-info">
                        <h3>결제 정보</h3>
                        <div class="details-item">
                            <span class="details-label">결제일자:</span>
                            <span class="details-value" th:text="${myBookingDetails['payDate']}"></span>
                        </div>
						
                        <div class="details-item">
                            <span class="details-label">결제수단:</span>
                            <span class="details-value" th:text="${myBookingDetails['bo_payment']}"></span>
                        </div>
						
                        <div class="details-item">
                            <span class="details-label">결제금액:</span>
                            <span class="details-value" id="bo_price" th:text="${myBookingDetails['bo_price']}"></span>
                        </div>
                    </div>
                </div>
            </div>			
        </div>
		<button type="button" id="close-btn" class="close-btn">닫기</button>
    </th:block>
</body>
</html>
