<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout">
<head>
<meta charset="UTF-8">
<title>리뷰 페이지</title>
<link rel="stylesheet" th:href="@{/css/myReviews.css}" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/js/myReviews.js}"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    const email = /*[[${guest.email}]]*/ 'default@example.com';
    /*]]>*/
</script>
</head>
<body>
    <th:block layout:fragment="content">
        <div class="myReviews-container">
            <div id="reviews">
                <!-- 리뷰 AJAX -->
            </div>
            <button id="loadMore" class="load-more-btn">▼더보기</button>
        </div>
    </th:block>
</body>
</html>
