<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<footer th:fragment="footer">
		<div id="footer_info">
			<div class="footer_jamongda">
				<div class="jamongda_info">
					<h3>코린이</h3>
					<p>주소 : 서울특별시 관악구 인헌9길 19 401호 | 대표 : 황찬우 | 사업자등록번호 : 123-45-6789<br>
						전자우편주소 : chanwoo6195@naver.com | 전화번호 : 010-4949-6195</p>
				</div>
				<div class="user_info">
					<p><a href="#">이용약관</a></p>
					<p><a href="#">개인정보처리방침</a></p>
					<p><a href="#">소비자 분쟁해결 기준</a></p>
					<p><a href="#">콘텐츠 산업 진흥법에 의한 표시</a></p>
				</div>
			</div>	
			
			<div class="footer_support">
				<div class="support_info">
					<h3>고객센터</h3>
					<p>오전 9시 - 오후 6시 고객센터 운영</p>
				</div>
				<div class="support_btn">
					<button><a href='mailto:jamongda@naver.com'>chanwoo6195@naver.com</a></button>
				</div>
			</div>
		</div>
	</footer>
</html>