<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>레이아웃 페이지</title>
<!--Font Awsome 아이콘-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />

<link rel="stylesheet" type="text/css" th:href="@{/css/layout.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/adminSidebar.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/hostSidebar.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/boardSidebar.css}" />

<!-- favicon -->
<link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>
   <div id="container">
      <header th:replace="layout/header :: header"></header>
	  <div id="content" layout:fragment="content"></div>
	  <div id="boardSidebar" th:if="${boardSidebar != null}">
	      <div th:replace="~{${boardSidebar} :: sidebar}"></div>
	  </div>
	  <div th:if="${boardSidebar == null}"></div>
      <div id="adminSidebar" th:if="${adminSidebar != null}">
          <div th:replace="~{${adminSidebar} :: sidebar}"></div>
      </div>
      <div th:if="${adminSidebar == null}"></div>
      <div id="hostSidebar" th:if="${hostSidebar != null}">
          <div th:replace="~{${hostSidebar} :: sidebar}"></div>
      </div>
      <div th:if="${hostSidebar == null}"></div>
	  <footer th:replace="layout/footer :: footer"></footer>
   </div>
   
   <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
   <df-messenger
     intent="WELCOME"
     chat-title="JAMONGDA_ChatBot"
     agent-id="260e724e-f80d-4d90-b4ca-cc791775025a"
     language-code="ko"
   ></df-messenger>
</body>
</html>