<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="/layout/layout">
<head>
<meta charset="UTF-8">
<title>공지사항</title>
<link rel="stylesheet" href="../../static/css/board.css">
<style type="text/css">
	/* 전체 기본 설정*/
	ul,ul>li{
	    list-style: none;
	}
	table,tr,th,td{
	    border: 1px solid black;
	}
	/*전체 화면*/
	#content{
	    width: 100%;
	    position:relative;
	    
	}

	/*왼쪽 사이드바 CSS*/
	#content > .menu_bar{
	    width: 10%;
	    float: left;
	    padding-top: 10px;
	    padding-left: 5px;
	    border-right: 1px solid black;
	    margin-right: 8%;
	}

	.menu_bar > li{
	    
	}

	/*오른쪽 View 화면*/
	#content > .menu_board{
	    width: 80%;
	    margin: 0 auto;
	}
</style>
</head>
<body>
	<th:block layout:fragment="content">
		<div id="boardcontent">
			<!-- board View화면 -->
			<div class="menu_board">
				<!-- 공지사항 화면 -->
				<div class="board">
					<h2>공지사항</h2>
					<p><span>Jamongda</span>의 다양한 소식 등을 알려드립니다.</p>
					<table>
						<tr th:each="article : ${articleMap.articlesList}">
							<td>이벤트</td>										
							<td>박규림 가만히 있어 이자식아</td>									
							<td>2024.07.04</td>										
						</tr>	
						<tr th:each="article : ${articleMap.articlesList}">
							<td>공지</td>										
							<td>조장 우리 잘할 수 있을까...?</td>										
							<td>2024.07.04</td>										
						</tr>
						<tr th:each="article : ${articleMap.articlesList}">
							<td>발표</td>										
							<td>여기어때 월드투어 엘리트 플러스 전용 이벤트</td>										
							<td>2024.07.04</td>										
						</tr>
					</table>
					
					<!-- 하단 페이지 번호 -->
					<div class="boardNo">
						
					</div>
				</div>
			</div>
		</div>
	</th:block>
</body>
</html>