<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  	  layout:decorate="layout/layout">>
<head>
<meta charset="UTF-8">
<title>글 상세보기:JAMONGDA</title>
<link rel="stylesheet" th:href="@{/css/board.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/boardSidebar.css}" />
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" th:src="@{/smartEditor/js/HuskyEZCreator.js}" charset="utf-8"></script>
<script type="text/javascript" th:src="@{/js/viewBoard.js}" charset="utf-8"></script>
<script type="text/javascript">
	//사이드바 선택된 곳 색 적용
	document.addEventListener('DOMContentLoaded', function() {
	    const links = document.querySelectorAll('#boardSidebar a');

	    links.forEach(link => {
	        link.addEventListener('click', function() {
	            links.forEach(link => link.classList.remove('active'));
	            this.classList.add('active');
	        });

	        // 현재 URL이 링크의 href와 일치하는 경우 active 클래스 추가
	        if (window.location.href.includes(link.href)) {
	            link.classList.add('active');
	        }
	    });
	});
</script>
</head>
<body>
	<th:block layout:fragment="content">
		<div id="view_board">
			<form name="ftmBoard" action="" method="post">
				<a href="/board/boardList.do"><</a>
				<p th:text="${board.board_category}" class="view_category"></p>
				
				<!--action은 메서드 처리-->
				<div id="boardView">
					<h2 th:text="${board.board_title}">게시글 제목</h2>
					<p th:text="${board.board_date}">작성일</p>
					<div th:utext="${board.board_content}" class="view_content"></div>
				</div>
				
				<div class="view_btn">
					<input type="button" value="수정하기" th:onclick="fn_modBoardForm(ftmBoard)">
					<input type="button" value="삭제하기" th:onclick="fn_remove_board('/board/removeBoard.do', [[${board.board_id}]])">
				</div>
			</form>
		</div>
	</th:block>
</form>
</body>
</html>