@charset "uft-8";
#adminSidebar {
   position : sticky;
   bottom: 550px;
   left: 6%;
   display: inline-block;
	width: 12%; /* 사이드바의 너비 */
   background-color: rgb(232, 233, 238);
}
#adminSidebar h3 {
	justify-content: center;
	font-size: 1.2em;
	text-align: center;
}
#adminSidebar h3:last-child {
    border-bottom: none; /* 마지막 h3의 border-bottom 제거 */
   padding-bottom: 0;
}
#adminSidebar a {
	color: rgb(164, 164, 164);
	display: block;
	padding: 10%;
}

#adminSidebar a.active {
    color: #FF6F61; /* 클릭된 앵커의 색상 */
	background-color: white;
	
	border : 1px solid #dedede;
}