@charset "uft-8";
*{
 margin: 0;
}

a:visited, a:active{
	text-decoration: none;
}

html,
body {
	position: relative;
	min-width: 600px;
	max-width: 1920px;
	margin: 0 auto;
}

body {
	background: rgb(252, 252, 252);
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #000;
	margin: 0 auto;
	padding: 0 auto;
}

#boardSidebar {
	position: absolute;
	top: 20%;
	left: 3%;
	display: inline-block;
	width: 12%;/* 사이드바의 너비 */
	background-color: white;/* 배경색 */
	border: 1px solid #dedede;
	border-radius: 15px;/* 모서리를 둥글게 */
}

#boardSidebar h3 {
	justify-content: center;
	font-size: 1.2em;/* 글자 크기 */
	text-align: center;/* 텍스트 가운데 정렬 */
	border-bottom: 1px solid rgb(222, 222, 222);
}

#boardSidebar h3:last-child {
	border-bottom: none;
	/* 마지막 h3의 border-bottom 제거 */
	padding-bottom: 0;
}

#boardSidebar a {
	color: black;
	/* 링크 색상 */
	display: block;
	/* 블록 요소로 설정 */
	padding: 10%;
	/* 내부 여백 */
}

#boardSidebar a:hover {
   color: #FF6F61;
}

#boardSidebar a.active {
	color: #FF6F61;
	/* 클릭된 앵커의 색상 */
}