@charset "uft-8";
*{
 margin: 0;
}

a:visited, a:active{
	text-decoration: none;
}

#boardSidebar {
	position: sticky;
	bottom: 550px;
	left: 3%;
	display: inline-block;
	width: 12%;
	background-color: rgb(232, 233, 238);
	border: 1px solid #dedede;
}

#boardSidebar h3 {
	justify-content: center;
	font-size: 1.2em;
	text-align: center;
	border-bottom: 1px solid rgb(222, 222, 222);
}

#boardSidebar h3:last-child {
	border-bottom: none;
	/* 마지막 h3의 border-bottom 제거 */
	padding-bottom: 0;
}

#boardSidebar a {
	color: rgb(164, 164, 164);
	display: block;
	padding: 10%;
}

#boardSidebar a.active {
	color: #FF6F61;
	/* 클릭된 앵커의 색상 */
	background-color: white;
}