@charset "uft-8";
html,
body {
  position: relative;
  min-width: 1250px;
  max-width: 1920px;
  margin: 0 auto;
}

body {
  background: rgb(252, 252, 252);
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0 auto;
  padding: 0 auto;
}
#boardSidebar {
   position : relative;
   top: -260px;
   left: 50px;
   display: inline-block;
    width: 220px; /* 사이드바의 너비 */
    background-color: white; /* 배경색 */
   border : 1px solid #dedede;
    border-radius: 15px; /* 모서리를 둥글게 */
    margin: 20px; /* 외부 여백 */
}
#boardSidebar h3 {
    margin: 20px 0; /* 제목 사이의 여백 */
    font-size: 1.2em; /* 글자 크기 */
    text-align: center; /* 텍스트 가운데 정렬 */
   border-bottom : 1px solid #dedede;
   padding-bottom: 20px; /* 아래쪽 여백 */
}
#boardSidebar h3:last-child {
    border-bottom: none; /* 마지막 h3의 border-bottom 제거 */
   padding-bottom: 0;
}
#boardSidebar a {
    text-decoration: none; /* 링크 밑줄 제거 */
    color: #333333; /* 링크 색상 */
    display: block; /* 블록 요소로 설정 */
    padding: 10px; /* 내부 여백 */
    border-radius: 4px; /* 링크의 모서리를 둥글게 */
    transition: background-color 0.1s ease; /* 배경색 전환 효과 */
}
#boardSidebar a:visited{
   color: #333333;
}
/*
#boardSidebar a:hover {
   color: #1273E4;
}
*/
#boardSidebar a.active {
    color: #1273E4; /* 클릭된 앵커의 색상 */
}