@charset "utf-8";

* {
	box-sizing: border-box;
}

ul,
li {
	list-style: none;
	margin: 0;
	padding: 0;
}

button {
	background-color: transparent;
	border: none;
}

a {
	text-decoration: none;
	color: inherit;
}

.wrapper {
	width: 80%;
	margin: 0 auto;
	padding: 20px 0;
}

.hidden {
	display: none;
}

.sct1_wrap {
	padding: 2% 0;
}

.search_wrap {
	position: relative;
	z-index: 1;
	width: 100%;
	display: inline-block;
}

.search_wrap input[type="search"],
.search_wrap input[type="text"] {
	width: 30%;
}

.search_wrap input[type="submit"] {
	width: 8%;
	cursor: pointer;
}


#form3 {
  width: 100%;
  margin: 0 auto;
  top: 68%;
  left: 6%;

  padding: 1% 2% 0 4%;
  border-radius: 20px;
  overflow: hidden;
  box-sizing: border-box;
  font-size: 1.3em;
}

/* 숙소 검색 영역 */
.inputWrap {
  position: relative;
  width: 25%;
  float: left;
  margin-right: 5%;
  box-sizing: border-box;
}

#acc_name {
  width: 100%;
  padding-right: 5%;
  padding-left: 18%;
  height: 50px;
  background-color: rgb(256, 256, 256);
  border: none;
  font-size: 1em;
  font-weight: bold;
  
  border-radius: 15px;
  border:1px solid #ff6f61;
}

/* 돋보기 아이콘 */
.fa-search {
  position: absolute;
  top: 50%;
  left: 5%;
  font-size: 1.4em;
  transform: translateY(-50%);
}

/* 지역 검색 영역 */
.location {
  position: relative;
  width: 25%;
  float: left;
  margin-right: 5%;
  box-sizing: border-box;
}

.fa-location-dot {
  position: absolute;
  top: 50%;
  left: 5%;
  font-size: 1.4em;
  transform: translateY(-50%);
}

#acc_area {
  width: 100%;
  height: 50px;
  border: none;
  background-color: rgba(256, 256, 256, 0.8);
  font-size: 1em;
  font-weight: bold;
  color: black;
  padding-right: 5%;
  padding-left: 18%;
  
  border-radius: 15px;
  border:1px solid #ff6f61;
}

/* 날짜 검색 영역 */
.search_In {
  position: relative;
  width: 30%;
  float: left;
  box-sizing: border-box;
}

#bo_checkIn {
  width: 100%;
  height: 50px;
  border: none;
  background-color: rgba(256, 256, 256, 0.8);
  font-size: 1em;
  font-weight: bold;
  color: black;
  padding-left: 20%;
  
  border-radius: 15px;
  border:1px solid #ff6f61;
}

.fa-calendar-days {
  position: absolute;
  top: 50%;
  left: 10%;
  font-size: 1.4em;
  transform: translateY(-50%);
}

/* 검색 버튼 */
.search_btn {
  position: relative;
  float: left;
  max-width: 10%;
  height: 50px;
  background: none;
  border: none;
  font-size: 1.2em;
  font-weight: bold;
  color: black;
  cursor: pointer;
  text-align: center;
  padding: 0;
  margin-top: 0;
  margin-left: 2%;
}

.deatail-room{
	width: 800px;
}

.search_btn:hover{
	color: #ff6f61;
}

.acc_images{
	width: 100%;
	margin: 0 auto;
}

.acc_imagebox,
.map_box {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.acc_imagebox>.img {
	width: 33%;
	height: 390px;
}

.acc_imagebox>.img>img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.contents_flexbox {
	width: 78%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
}

.acc_title{
	margin-bottom: 2%;
}

.acc_title>h1{
	font-size: 2em;
	float: left;
	margin-right: 0.5%;
}

.wishlist-icon{
	font-size: 2em;
}
.acc_content .content_box {
	margin: 0 auto;
}

.review {
	width: 80%;
	margin: 0 auto;
	margin-bottom: 10%;
}
.review>a {
	font-weight: 700;
	margin-bottom: 10px;
	display: block;
}

.map_box2 {
	height: 135px;
	border-radius: 10px;
}

.room_box {
	width: 100%;
	border: 1px solid #ddd;
	border-radius: 10px;
	display: flex;
	padding: 2%;
	
	gap: 20px;
}

.room_image {
	border-radius: 10px;
	width: 30%;
	
	position: relative;
}

.room_image img{
	margin: 2%;
	width: 100%;
	height: 150px;
}

.fa-images{
	position: absolute;
	top: 79%;
	right: 2%;
	display: inline-flex; /* 아이콘과 +를 함께 보이게 함 */
    align-items: center; /* 세로 정렬 */
	
	font-size: 1.5em;
}

.fa-images::after{
	content: "+"; /* + 기호 추가 */
   margin-left: 5px; /* 아이콘과 + 사이 간격 조절 */
}

.room_contents {
	width: 65%;
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	gap: 3px;
	
	justify-content: center;
}

.room_more {
	width: 15%;
	text-align: center;
}

.roomList {
	margin-top: 20px;
}

.roomList .contente_box1 {
	display: flex;
	justify-content: space-between;
	margin-bottom: 2%;
}

.roomList .contente_box2 {
	display: flex;
	justify-content: space-between;
}


.room_price {
	display: inline;
	font-size: 1.5em;
}

.res_button>button {
	background-color: #ff6f61;
	color: #fff;
	border-radius: 5px;
	cursor: pointer;
	float: right;
	padding: 7% 10%;
}

.room_info strong {
	color: #555;
	font-size: 0.7em;
}

.room_info p {
	display: inline;
	margin-left: 15px;
}

.use_caution {
	border-top: 1px solid #ccc;
	margin: 10% 0;
}

.use_caution h2 {
	margin-top: 10%;
}

.use_caution p,
.use_caution ul {
	margin-bottom: 40px;
}

.use_caution ul {
	font-weight: 700;
}

.use_caution li {
	font-weight: 100;
	margin-bottom: 20px;
}
.use_caution > p {
	border-bottom: 1px solid #ccc;
	margin: 5% 0;
	padding-bottom: 10%;
}

.review_box {
	display: flex;
	flex-wrap: wrap;
	padding-top: 30px;
	padding-bottom: 30px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	
	font-size: 1.2em;
}

.review_title {
	width: 1200px;
	padding: 10px 0;
}

.review_user {
	width: 30%;
	display: flex;
}

.review_content {
	width: 70%;
}

.user_image {
	background-color: aqua;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	margin-right: 20px;
}

.review_imagesbox {
	display: flex;
}

.review_image {
	width: 200px;
	height: 200px;
	border-radius: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
}

.pagination {
	width: 1200px;
	padding: 10px 0;
}

.pagination ul {
	width: 100%;
	display: flex;
	justify-content: center;
}

.pagination ul li {
	padding: 0 10px;
}

.popup {
	font-size: 0.8em;
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	justify-content: center;
	align-items: center;
	opacity: 0;
	transition: opacity 0.2s ease;
	z-index: 9999;
}

.popup.show {
	display: flex;
	opacity: 1;
}

.popup h3 {
	margin-top: 20px;
	margin-bottom: 20px;
	color: #49627A;
}

.popup-content {
	background-color: #fff;
	padding: 40px;
	border-radius: 12px;
	text-align: left;
	width: 600px;
	height: auto;
	max-height: 500px;
	margin: auto;
	position: relative;
	overflow-y: auto;
	transform: scale(0.8);
	transition: transform 0.3s ease;
	z-index: 9999;
}

.popup.show .popup-content {
	transform: scale(1);
}

.popup-content::-webkit-scrollbar {
	width: 10px;
	margin-right: 5px;
}

.popup-content::-webkit-scrollbar-thumb {
	height: 30%;
	background: #EBEBEB;
	border-radius: 10px;
}

.popup-title {
	text-align: center;
	margin-bottom: 20px;
}

.close {
	position: absolute;
	top: 5px;
	left: 15px;
	font-size: 35px;
	cursor: pointer;
}

.popup-section {
	border-bottom: 1px solid #EBEBEB;
	padding-bottom: 20px;
	margin-top: 10px;
}

.room-info-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.room-info-list li {
	margin-bottom: 10px;
}

#CancleRefundReg {
	border: 1px solid #FFF6F6;
	background-color: #FFF6F6;
	padding: 10px;
}

#CancleRefundReg h3 {
	color: #F45858;
}

#CancleRefundReg>ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#CancleRefundReg>ul>li {
	color: #F45858;
	margin-bottom: 10px;
	margin-left: 20px;
}

.review_imagesbox {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.review_image img {
	width: 200px;
	height: 200px;
	object-fit: cover;
	border-radius: 5px;
}

.review_user {
	display: flex;
	flex-direction: column;
}

.room_title{
	font-size: 1.15em;
	font-weight: bold;
	line-height: 30px;
}

.fa-circle-user{
	margin-right: 1%;
}

.user_email{
	color: black;
	margin-bottom: 1%;
}

.review_date {
	color: #666;
	font-size: 12px;
}

.review_text {
    margin-bottom: 10px;
}

.user_title>p{
	font-size: 1em;
	font-weight: bold;
	
	color: #49627A;
	
}

.preview_content, .full_content{
	font-size: 1.05em;
	line-height: 25px;
	color: black;
}

.review_text .preview_content,
.review_text .full_content {
    white-space: pre-wrap;
    display: inline;
}

.review_text .full_content {
    display: none;
}

.more {
    display: inline;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-weight: bold;
    margin-left: 10px;
}

.swiper {
	width: 80%;
	height: 80%;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: auto;
	object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
	width: 50px !important;
	height: 40px !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
	font-size: 50px !important;
	font-weight: bold !important;
	color: rgb(255, 255, 255) !important;
}

.swiper-pagination {
	color: #EBEBEB !important;
	font-size: 2em !important;
}

#imgPopupContainer {
	display: none;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
	z-index: 9999;
}

.img-popup-content {
	background: #fff;
	padding: 20px;
	border-radius: 5px;
	position: relative;
	max-width: 80%;
	max-height: 80%;
	overflow-y: auto;
}

.img-popup-content .img-close {
	position: absolute;
	top: 10px;
	cursor: pointer;
	font-size: 3.5em;
	color: #000;
	background-color: rgba(255, 255, 255, 0.7);
	border-radius: 50%;
	text-align: center;
	width: 50px;
	height: 50px;
	line-height: 50px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.aside_map {
	padding: 20px;
	border: 1px solid #ddd;
	border-radius: 8px;
	margin-top: 17%;
	margin-left: 10%;
	width: 90%;
}

.aside_map h2 {
	font-size: 18px;
	margin-bottom: 10px;
	color: #333;
}

#map {
	border-radius: 8px;
	overflow: hidden;
}

.aside_map p {
	font-size: 17px;
	color: #555;
	margin: 10px 0;
}

.routeButton-container {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 10px;
	margin-top: 20px;
}

.routeButton-container p {
	font-size: 17px;
	color: #555;
	margin: 0;
	padding-right: 10px;
	flex: 1;
	word-break: break-word;
}

#routeButton {
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 16px;
	color: rgb(0, 0, 0);
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 50%;
	cursor: pointer;
	text-decoration: none;
	transition: background-color 0.3s ease;
	margin-left: 10px;
}

#routeButton img {
	width: 30px;
	height: 30px;
}

#routeButton:hover {
	background-color: rgb(238, 238, 238);
}

#addressText {
	display: inline-block;
	font-size: 14px;
	color: #555;
	margin-right: 10px;
	max-width: calc(100% - 70px);
	overflow-wrap: break-word;
}

.routeButton-container {
	display: flex;
	align-items: center;
	margin-top: 20px;
}

.disabled-button {
    background-color: gray !important;
    cursor: not-allowed !important;
}