@charset "uft-8";

/* 전체 기본 설정*/

* {
  margin: 0;
}

html,
body {
  position: relative;
  min-width: 1250px;
  max-width: 1920px;
  margin: 0 auto;
}

body {
  background: rgb(252, 252, 252);
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0 auto;
  padding: 0 auto;
}

/*전체 화면*/
#FAQ_content{
    width: 100%;
	border-top:0.1em solid rgb(255, 111, 97) ;
	margin: 0 auto;
}
.FAQ_view{
    width: 50%;
    margin: 0 auto;
	text-align: left;
}

.FAQ_view>h1{
    margin-top: 4%;
    margin-bottom: 1%;
    color: #FF6F61;
}

.FAQ_view>p{
    display: inline-block;
    margin: 0;
    color: #666;
    margin-bottom: 2%;
}

/* ask 영역 */
.ask{
    width: 90%;
    background-color: #efefef;
    border-radius: 20px;
    margin-top: 1%;
	margin-left: 5%;
}

.askArea{
    overflow: hidden;
    margin-bottom: 5%;
}

.askArea>.ask_info{
    width: 20%;
    margin-left: 5%;
	margin-top: 3%;
}
.ask_info>h3{
    font-weight: bold;
}

.askArea>div{
    display: inline-block;
}

.ask_info section>p{
    margin-top: 2%;
    margin-bottom: 2%;
}

.askArea button{
    float: right;
    width: 20%;
    padding: 1%;
    margin: 5%
}

/*FAQ 화면*/
.accordion{
	width: 90%;
	margin:0 auto
}

.accordion>label{
    margin-top: 3%;
}

/*자주 묻는 질문*/
.question{
	margin-top: 10%;
}

.question>h2{
    color: #FF6F61;
}
input[id*="answer"]{
    display: none;
}

input[id*="answer"]+label{
    display: block;
    padding: 1.8%;
    border: 1px solid #ccc;
    border-bottom: 0;
    font-weight: bold;
    cursor: pointer;
    position: relative;
}

input[id*="answer"]+label span{
    color: #FF6F61;
}

input[id*="answer"]+label em{
    position: absolute;
    top: 45%;
    right: 3%;
    width: 5%;
    height: 80%;
    margin-top: -15px;
    display: inline-block;
    background: url("/images/down_arrow.png") 0 0 no-repeat;
}

input[id*="answer"] + label + div{
    max-height: 0;
    overflow: hidden;
    background-color: #efefef;
    transition: all .5s;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

input[id*="answer"] + label + div p{
    display: inline-block;
    padding: 2%;
	white-space:pre-wrap;
}

/*질문을 클릭하였을때*/
input[id*="answer"]:checked + label + div{
    max-height: 1000px;
    transition: all 1s;
}

input[id*="answer"]:checked + label em{
    background: url("/images/up_arrow.png") 0 0 no-repeat;
}
