@charset "utf-8";
body{
	margin:  0 auto;
}
header {
	margin-bottom: 5px;
	padding:1%;
	background-color:rgb(252, 252, 252);
	border-bottom: 0.1em solid #FF6F61 ;
}
#header{
	text-align: center;
}

#content {
	width : 75%;
	padding : 5px;
	margin-right: 5px;
	float: right;
}
footer {
	clear: both;
	padding: 5px;
	background-color:rgb(252, 252, 252);
	text-align: center;
	border-top: 0.1em solid #FF6F61 ;
}

