@charset "UTF-8";
input{
	border-radius: 20px;
}
/* 전체 영역 */
#main_content {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

/* 검색 영역 */
#search_section {
  width: 100%;
  display: table;
  height: 250px;
  position: relative;
}

.main_banner {
  display: table-cell;
  vertical-align: middle;
}

.main_banner > video {
  max-width: 100%;
  object-fit: fill;
}

#form1 {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  top: 75%;
  left: 6%;

  padding: 1% 2% 1% 4%;
  border-radius: 20px;
  overflow: hidden;
  box-sizing: border-box;
}

/* 숙소 검색 영역 */
.inputWrap {
  position: relative;
  width: 25%;
  float: left;
  margin-right: 3%;
  box-sizing: border-box;
}

#acc_name {
  width: 100%;
  padding-right: 5%;
  padding-left: 18%;
  height: 70px;
  background-color: rgba(256, 256, 256, 0.8);
  border: none;
  font-size: 1.3em;
  font-weight: bold;
}

/* 돋보기 아이콘 */
.fa-search {
  position: absolute;
  top: 50%;
  left: 5%;
  font-size: 1.4em;
  transform: translateY(-50%);
}

/* 지역 검색 영역 */
.location {
  position: relative;
  width: 25%;
  float: left;
  margin-right: 3%;
  box-sizing: border-box;
}

.fa-location-dot {
  position: absolute;
  top: 50%;
  left: 5%;
  font-size: 1.4em;
  transform: translateY(-50%);
}

#acc_area {
  width: 100%;
  height: 70px;
  border: none;
  background-color: rgba(256, 256, 256, 0.8);
  font-size: 1.3em;
  font-weight: bold;
  color: black;
  padding-right: 5%;
  padding-left: 18%;
}

/* 날짜 검색 영역 */
.search_In {
  position: relative;
  width: 20%;
  float: left;
  box-sizing: border-box;
}

#bo_checkIn {
  width: 100%;
  height: 70px;
  border: none;
  background-color: rgba(256, 256, 256, 0.8);
  font-size: 1.3em;
  font-weight: bold;
  color: black;
  padding: 0 30%;
}

.fa-calendar-days {
  position: absolute;
  top: 50%;
  left: 10%;
  font-size: 1.4em;
  transform: translateY(-50%);
}

/* 검색 버튼 */
.search_btn {
  position: relative; /* 검색 버튼을 다른 요소와 일렬로 배치하기 위해 상대 위치 설정 */
  float: left; /* 검색 필드와 일렬로 배치 */
  max-width: 10%; /* 검색 버튼의 최대 너비 설정 */
  height: 70px; /* 다른 입력 필드와 동일한 높이 설정 */
  background: none;
  border: none;
  font-size: 1.4em;
  font-weight: bold;
  color: black;
  cursor: pointer;
  text-align: center;
  padding: 0;
  margin-left: 15%;
  margin-top: 0; /* 상단 마진 제거 */
}

.search_btn:hover{
	color: #FF6F61;
}

/* 국내 인기 여행지 영역 */
.swiper-slide {
    position: relative;
}

.swiper-slide img {
  width: 153px;
  height: 150px;
  border-radius: 10px;
  object-fit: cover;
}

.swiper-slide p {
  width: 50%;
  height: 10%;
}

/* swiper 영역 */
.swiper-wrapper{
	margin-left: 3%;
}

.slider {
  overflow: hidden;
  position: relative;
  max-width: 1000px;
  margin: 50px auto 0;
}

.slider .inner {
  overflow: hidden;
  margin: 3% 60px;
}

.slide_list > li {
  width: 40%;
  height: 150px;
  font-size: 20px;
  line-height: 150px;
  text-align: center;
}

.slider .btn {
  position: absolute;
  top: 60%;
  width: 35px;
  height: 35px;
  background: url('../images/main_arrow.png') center center no-repeat;
  background-size: cover;
  text-indent: -999em;
  cursor: pointer;
}

.slider .btn.btn_prev {
  left: 2%;
  transform: rotateY(180deg) translate(0, -50%);
}

.slider .btn.btn_next {
  right: 0;
  transform: translate(0, -50%);
}

/*미디어 쿼리*/
@media (min-width: 344px) {
	/*검색창*/
	#form1 {
	  padding: 0;
	  width: 95%;
	  left: 3.5%;
	}
	
	/* 숙소 검색 영역 */
	.inputWrap {
	  width: 28%;
	}

	#acc_name {
	  height: 50px;
	  font-size: 1em;
	  
	  padding-right: 0;
	}
	
	/* 지역 검색 영역 */
	.location {
	  width: 28%;
	}

	#acc_area {
	  height: 50px;
	  font-size: 1em;
	  
	  padding-right: 0;
	}
	/* 날짜 검색 영역 */
	.search_In {
	  position: relative;
	  width: 32%;
	  float: left;
	  box-sizing: border-box;
	}

	#bo_checkIn {
	  width: 100%;
	  height: 50px;
	  font-size: 1em;
	  
	  padding-left: 10%;
	  padding-right: 0;
	}
	
	.fa-calendar-days{
		display: none;
	}

	/* 검색 버튼 */
	.search_btn {
	  width: 100%; /* 검색 버튼의 최대 너비 설정 */
	  height: 40px; /* 다른 입력 필드와 동일한 높이 설정 */
	  font-size: 1.4em;
	  
	  background-color: rgba(256, 256, 256, 0.8);
	  margin-top: 1.5%;
	  padding: 0 49%;
	  margin-left: 0;
	}
	
	.search_btn:active{
		color: #FF6F61;
	}
	
	/*content 영역*/
	.btn_prev, .btn_next{
		display: none;
	}
	
	.slider{
		padding: 0 5%;
	}
	
	.swiper-slide a::after{
		content: attr(data-alt);
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 137.5%;
	    height: 100%;
	    background-color: rgba(102, 102, 102,0.5);
		border-radius: 10px;
	    color: white;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    font-size: 1em;
	    font-weight: bold;
	}
}
@media (min-width: 768px) {
	/* 날짜 검색 영역 */
	.search_In {
	  position: relative;
	  width: 28%;
	  float: left;
	  box-sizing: border-box;
	}

	#bo_checkIn {
	  width: 100%;
	  height: 50px;
	  font-size: 1em;
	  
	  padding-left: 25%;
	  padding-right: 0;
	}
		
	.fa-calendar-days{
		display: block;
	}
	
	.swiper-slide a::after{
	    left: 3%;
	    width: 93.5%;
	    height: 100%;
	    background-color: rgba(102, 102, 102,0.5);
	}
}

@media (min-width: 820px){
	.swiper-slide a::after{
	    left: 1%;
	    width: 150%;
	    height: 100%;
	    background-color: rgba(102, 102, 102,0.5);
	}
}

@media (min-width: 1024px) {
	.swiper-slide a::after{
	    left: 1%;
	    width: 105%;
	    height: 100%;
	    background-color: rgba(102, 102, 102,0.5);
	}
}

@media (min-width: 1200px) {
	#form1 {
	  width: 90%;
	  padding: 0;
  	  left: 8%;
	}
	
	/* 숙소 검색 영역 */
	.inputWrap {
	  position: relative;
	  width: 25%;
	  float: left;
	  margin-right: 3%;
	  box-sizing: border-box;
	}

	#acc_name {
	  width: 100%;
	  padding-right: 5%;
	  padding-left: 18%;
	  height: 70px;
	  background-color: rgba(256, 256, 256, 0.8);
	  border: none;
	  font-size: 1.3em;
	  font-weight: bold;
	}

	/* 돋보기 아이콘 */
	.fa-search {
	  position: absolute;
	  top: 50%;
	  left: 5%;
	  font-size: 1.4em;
	  transform: translateY(-50%);
	}
	
	/* 지역 검색 영역 */
	.location {
	  width: 25%;
	}

	#acc_area {
	  height: 70px;
	  font-size: 1.3em;
	  
	  padding-right: 5%;
	}
	
	/* 날짜 검색 영역 */
	.search_In {
	  position: relative;
	  width: 15%;
	  float: left;
	  box-sizing: border-box;
	}

	#bo_checkIn {
	  width: 100%;
	  height: 70px;
	  border: none;
	  background-color: rgba(256, 256, 256, 0.8);
	  font-size: 1.3em;
	  font-weight: bold;
	  color: black;
	  padding: 0 30%;
	}

	.fa-calendar-days {
	  position: absolute;
	  top: 50%;
	  left: 10%;
	  font-size: 1.4em;
	  transform: translateY(-50%);
	  
	  
	  display: block;
	}

	/* 검색 버튼 */
	.search_btn {
	  position: relative; /* 검색 버튼을 다른 요소와 일렬로 배치하기 위해 상대 위치 설정 */
	  float: left; /* 검색 필드와 일렬로 배치 */
	  max-width: 10%; /* 검색 버튼의 최대 너비 설정 */
	  height: 70px; /* 다른 입력 필드와 동일한 높이 설정 */
	  background: none;
	  border: none;
	  font-size: 1.4em;
	  font-weight: bold;
	  color: black;
	  cursor: pointer;
	  text-align: center;
	  padding: 0;
	  margin-left: 10%;
	  margin-top: 0; /* 상단 마진 제거 */
	}

	.search_btn:hover{
		color: #FF6F61;
	}
	
	/*content 영역*/
	.btn_prev, .btn_next{
		display: block;
	}
	
	.swiper-slide a::after{
		display: none;
	}
	
	.swiper-slide a:hover::after, .swiper-slide a:hover::after {
	    content: attr(data-alt);
	    position: absolute;
	    top: 0;
	    left: 3%;
	    width: 94%;
	    height: 100%;
	    background-color: rgba(102, 102, 102,0.5);
		border-radius: 10px;
	    color: white;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    font-size: 1.2em;
	    font-weight: bold;
	    opacity: 0.9;
		transition: all 0.5s;
	}
}