@charset "utf-8";

.button-container>a {
	color: white;
	/* 기본 링크 색상 */
	text-decoration: none;
	/* 밑줄 제거 */
}

/* 링크가 방문되었을 때의 스타일 */
.button-container>a:visited {
	color: white;
	/* 방문한 링크의 색상 */
}

/* 링크가 활성 상태일 때의 스타일 */
.button-container>a:active {
	color: white;
	/* 활성 상태의 링크 색상 */
}

.adminBody {
	width: 20%;
	min-height: 100%;
	margin: 11% auto;
}

.button-container {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.button {
	width: 30%;
	background-color: black;
	color: white;
	padding: 15px 30px;
	margin: 5% auto;
	border: none;
	border-radius: 10px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.button:hover {
	background-color: #333;
}