@charset "UTF-8";
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: rgb(252, 252, 252);
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

/*전체 영역*/
#main_content{
	width: 90%;
	margin: 0 auto;
}
/*content 영역*/

/*검색 영역*/
#search_section{
	width: 80%;
    background-color: #FF6F61;
	border-radius: 10px;
	margin: 0 auto;
}
#search_box{
    padding: 10% 5%;
	margin: 0 auto;
}
#search_box>form{
    width: 80%;
	text-align: center;
    margin: 0 auto;
}


/*swiper 영역*/
.slider {overflow: hidden;position: relative;max-width: 950px;margin: 50px auto 0;}
.slider .inner {overflow: hidden;margin: 0 60px;}
.slide_list > li {width: 40%;height: 150px;background: #8ab4f8;font-size: 20px;line-height: 150px;text-align: center;}

.slider .btn {position: absolute;top: 60%;width: 35px;height: 35px;background:url('../images/main_arrow.png') center center no-repeat;background-size: cover;text-indent: -999em;cursor: pointer;}
.slider .btn.btn_prev {left: 0;transform: rotateY(180deg) translate(0,-50%);}
.slider .btn.btn_next {right:0;transform: translate(0,-50%);}