h2 {
    text-align: center;
    margin-top: 20px;
}

.table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow-x: auto;
    margin: 20px auto;
}

.filter-container {
    margin-bottom: 20px;
}

.table-style {
    border-collapse: collapse;
    width: 70%;
    /*max-width: 1200px;*/
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	font-size:0.85em;
}

.th-style, .td-style {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    white-space: nowrap;
}

.th-style {
    background-color: #FF6F61;
    color: white;
}

.tr-style:hover {
    background-color: #f1f1f1;
}

.modDelMember:hover {
    text-decoration: underline;
}

.role-A {
    background-color: #f2fbff;
}

.role-H {
    background-color: #fffaf7;
}

/* 페이징관련CSS */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    background-color: #ffbcb5;
    color: white;
    border: none;
    cursor: pointer;
	font-weight:bold;
}

.pagination button:hover {
    background-color: #FF3F30;
}

.pagination button.active {
    background-color: #FF3F30;
}