@charset "utf-8";
h2 {
    text-align: center;
    margin-top: 20px;
}
.table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: auto;
    margin: 0px auto;
	margin-top: 80px;
	margin-left:50px;
	width: 100%;
}
.table-container button{
	background-color: white;
	color: #FF6F61;
	border: 1px solid #FF6F61;
	border-radius: 2px;
	cursor: pointer;
}
.table-style {
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	font-size:0.85em;
}

.th-style, .td-style {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    white-space: nowrap;
}

.th-style {
    background-color: #FF6F61;
    color: white;
}
.td-style {
	height: 4em; /* 높이를 두 배로 설정 */
	vertical-align: middle; /* 텍스트를 세로 가운데 정렬 */
    overflow: hidden;              /* 넘치는 텍스트를 숨김 */
    text-overflow: ellipsis;       /* 넘치는 텍스트에 '...' 표시 */
    max-width: 100px;              /* 필요한 경우 최대 너비를 설정 */
}

.tr-style:hover {
    background-color: #f1f1f1;
}



/* 페이징관련CSS */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    color: black;
	background-color: rgb(252, 252, 252);
    border: none;
    cursor: pointer;
	font-weight:bold;
}

.pagination button.active {
    color: #FF6F61;
}

#manageReviewBtn {
	margin-top: 30px;
}
#manageReviewBtn>button {
	display: inline-block;
	/*padding: 3% 5%;*/
	padding : 5px 5px;
	border: none;
	background-color: #49627A;
	color: white;
	font-weight : bold;
	border-radius: 6px;
	cursor: pointer;
	margin-left: 10px;
	font-size: 15px; /* 글자 크기 설정 */	
}

/* 팝업창(댓글작성)관련 CSS */
.popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 550px;
    padding: 25px;
    background-color: white;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    border-radius: 10px; /* 둥근 모서리 */
}

.popup h2 {
    margin: 0 0 20px 0;
    font-size: 1.5em;
    font-weight: bold;
    text-align: left;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

.popup .tab-menu {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.popup .tab-menu a {
    flex: 1;
    text-align: center;
    padding: 10px;
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    margin-right: 10px;
}

.popup .tab-menu a.active {
    background-color: #FF6F61; /* 활성화된 탭 배경색 */
    color: white;
    border: 1px solid #E36356;
}

.popup .tab-menu a:last-child {
    margin-right: 0;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 25px;
    color: #888;
}

.popup textarea {
    width: 95%;
    height: 170px;
    resize: none;
    outline: none;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.1em;
}

.popup .btn-group {
    text-align: left;
}

.popup .btn-group button {
	padding : 5px 15px;
	border: none;
	background-color: #49627A;
	color: white;
	font-weight : bold;
	border-radius: 6px;
	cursor: pointer;
	margin-left: 10px;
	font-size: 15px; /* 글자 크기 설정 */
}

/*
.popup .btn-group #saveBatchComment,
.popup .btn-group #saveSmartBatchComment {
    background-color: #FF6F61;
    color: white;
    border: 1px solid #E36356;
}
*/

.popup .btn-close {
	padding : 5px 15px;
	border: none;
	background-color: #49627A;
	color: white;
	font-weight : bold;
	border-radius: 6px;
	cursor: pointer;
	margin-left: 10px;
	font-size: 15px; /* 글자 크기 설정 */
}
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}
#smartCommentTemplate>div {
	margin-bottom:20px;
}

#smartCommentTemplate h3 {
	font-size:1.2em;
	margin-top:40px;
	margin-bottom:20px;
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
}
.popup .template-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
	border-bottom: 1px solid #ccc;
	color:#959595;
}

.popup .template-item p {
    flex: 1;
	margin-bottom: 15px;
	
}

.popup .template-item button {
    margin-left: 30px;
	margin-bottom: 10px;
    padding: 5px 10px;
    background-color: white;
    color: #FF6F61;
    border: 1px solid #FF6F61;
    border-radius: 2px;
    cursor: pointer;
    white-space: nowrap;
}

/* 팝업 내부 요소 간 간격 조정 */
#reviewDetailPopup #reviewImages {
    margin-bottom: 20px; /* 이미지와 다음 요소 사이의 간격 */
}

#reviewDetailPopup p {
    margin-bottom: 20px; /* 리뷰 내용, 작성일자 사이의 간격 */
}

#reviewDetailPopup .btn-group {
    margin-top: 20px; /* 버튼과 이전 요소 사이의 간격 */
}

/* 이미지 스타일 */
.review-image {
    width: 150px;          /* 정사각형의 너비 설정 */
    height: 150px;         /* 정사각형의 높이 설정 */
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-right: 10px;    /* 이미지 간 간격 */
    object-fit: cover;     /* 이미지를 정사각형에 맞게 자르기 */
    
}

/* 팝업 타이틀 스타일 */
#reviewDetailPopup h2 {
    margin-bottom: 20px; /* 제목과 첫 번째 요소 사이의 간격 */
}

/* 리뷰 댓글 영역 스타일 */
#reviewCommentSection {
    background-color: #f9f9f9;  /* 연한 배경색 */
    border-left: 4px solid #FF6F61;  /* 좌측에 강조되는 테두리 */
    padding: 15px;  /* 내부 여백 */
    margin-top: 20px;  /* 다른 요소와의 간격 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);  /* 약간의 그림자 효과 */
    border-radius: 5px;  /* 둥근 모서리 */
}

/* 댓글 제목 스타일 */
#reviewCommentSection h3 {
    margin-top: 0;
    color: #333;  /* 진한 텍스트 색상 */
}

/* 댓글 내용 스타일 */
#reviewCommentSection p {
    margin: 10px 0 0 0;
    font-size: 1.1em;
    color: #555;  /* 회색 텍스트 */
}