@charset "UTF-8";
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
	
}

table {
    width: 90%;
    border-collapse: collapse;
}

tr {
	text-align : center;
}

th {
    text-align: center;
    font-size: 1.5em;
    padding-bottom: 20px;
}

td {
    padding: 10px;
}

td:first-child {
    text-align: right;
    font-weight: bold;
    padding-right: 20px;
    vertical-align: middle;
}

td:last-child {
    text-align: left;
    padding-left: 20px;
}
.modMemberButton {
	text-align: center;
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"],
input[type="reset"] {
    background-color: rgb(252, 252, 252);
    color: black;
    border: none;
    cursor: pointer;
    font-size: 1em;
    margin-top: 20px;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    color: #FF6F61;
}

input[type="submit"] {
    margin-right: 10px;
}