.acc-h2 {
		display : inline-block;
	}
legend {
	/*display : none;*/
	font-weight: bold;
	position: absolute;
	left: -9999px;
}

/* 사이드바 스타일
#sidebar {
    width: 200px;
    background-color: #f0f0f0;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    height: 100%;
    top: 0;
    left: 0;
}
*/
/* 콘텐츠 영역 스타일 */
#content {
    margin-left: 220px; /* 사이드바 너비 + 여백 */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    width: calc(100% - 220px); /* 사이드바를 제외한 나머지 너비 */
}

#accRegArea {
    /*width: 500px;*/
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
	margin: 0 auto;
}

fieldset {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

label {
    /*display: block;*/
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.regAcc {
	text-align: right;
}

.regAcc input {
	display: inline-block;
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
	margin-left: 10px;
}

.regAcc input:hover {
    background-color: #0056b3;
}
/*
#content {
	margin : 20px auto;
}
*/
.accRoForm {
	margin : 20px auto;
	max-width : 700px;
	padding : 20px;
	box-sizing : border-box;
	text-align : center;
}
