<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="/layout/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>자몽다메인</title>
	<script th:src="@{https://code.jquery.com/jquery-3.4.1.js}"></script>
	<script type="text/javascript" th:src="@{/js/main.js}"></script>
	<link rel="stylesheet" th:href="@{/css/main.css}"/>
	<!-- Link Swiper's CSS -->
	<link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css}" />
	<script th:src="@{https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js}"></script>

</head>
<body>
	<th:block layout:fragment="content">
		<div id="main_content">
			<section id="search_section">
		        <div class="content_box" id="search_box">
		            <form action="#" method="get">
		                <input type="text" id="acc_name" name="acc_name" placeholder="여행지나 숙소를 검색하세요">
		                <input type="text" id="acc_area" name="acc_area" placeholder="지역">
		                <input type="text" id="acc_date" name="acc_date" placeholder="여행 기간"><!-- jquery-ui에 datepicker달기 -->
		                <input type="text" id="ro_max" name="ro_max" placeholder="최대 인원 수">
		                <input type="submit" value="검색">
		            </form>
		        </div>
		    </section>
		  <!-- 첫번째 슬라이드 -->
		  <div class="slider">
	          <h2>인기숙소</h2>
	          <div class="inner">
	              <ul class="swiper-wrapper slide_list">
	                  <li class="swiper-slide">slider1</li>
	                  <li class="swiper-slide">slider2</li>
	                  <li class="swiper-slide">slider3</li>
	                  <li class="swiper-slide">slider4</li>
	                  <li class="swiper-slide">slider5</li>
	                  <li class="swiper-slide">slider6</li>
	                  <li class="swiper-slide">slider7</li>
	                  <li class="swiper-slide">slider8</li>
	              </ul>
	          </div>
	          <span class="btn btn_prev">이전</span>
	          <span class="btn btn_next">다음</span>
	      </div>
	
	      <!-- 두번째 슬라이드 -->
	      <div class="slider">
	          <h2>국내 인기 여행지</h2>
	          <div class="inner">
	              <ul class="swiper-wrapper slide_list">
	                  <li class="swiper-slide">slider1</li>
	                  <li class="swiper-slide">slider2</li>
	                  <li class="swiper-slide">slider3</li>
	                  <li class="swiper-slide">slider4</li>
	                  <li class="swiper-slide">slider5</li>
	                  <li class="swiper-slide">slider6</li>
	                  <li class="swiper-slide">slider7</li>
	                  <li class="swiper-slide">slider8</li>
	              </ul>
	          </div>
	          <span class="btn btn_prev">이전</span>
	          <span class="btn btn_next">다음</span>
	      </div>
	
	
	      <!-- 세번째 슬라이드 -->
	      <div class="slider">
	          <h2>자몽다's PICK</h2>
	          <div class="inner">
	              <ul class="swiper-wrapper slide_list">
	                  <li class="swiper-slide">slider1</li>
	                  <li class="swiper-slide">slider2</li>
	                  <li class="swiper-slide">slider3</li>
	                  <li class="swiper-slide">slider4</li>
	                  <li class="swiper-slide">slider5</li>
	                  <li class="swiper-slide">slider6</li>
	                  <li class="swiper-slide">slider7</li>
	                  <li class="swiper-slide">slider8</li>
	              </ul>
	          </div>
	          <span class="btn btn_prev">이전</span>
	          <span class="btn btn_next">다음</span>
	      </div>
	
	      <!--네번째 슬라이드-->
	      <div class="slider">
	          <h2>최저가 숙소</h2>
	          <div class="inner">
	              <ul class="swiper-wrapper slide_list">
	                  <li class="swiper-slide">slider1</li>
	                  <li class="swiper-slide">slider2</li>
	                  <li class="swiper-slide">slider3</li>
	                  <li class="swiper-slide">slider4</li>
	                  <li class="swiper-slide">slider5</li>
	                  <li class="swiper-slide">slider6</li>
	                  <li class="swiper-slide">slider7</li>
	                  <li class="swiper-slide">slider8</li>
	              </ul>
	          </div>
	          <span class="btn btn_prev">이전</span>
	          <span class="btn btn_next">다음</span>
	      </div>
		</div>
	</th:block>
</body>

</html>
