<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/layout">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>JAMONGDA : 메인</title>
	<script th:src="@{https://code.jquery.com/jquery-3.4.1.js}"></script>
	<script type="text/javascript" th:src="@{/js/main.js}"></script>
	<link rel="stylesheet" th:href="@{/css/main.css}" />
	<!-- 달력 라이브러리 -->
	<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
	<!-- 달력라이브러리 소스 -->
	<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
	<!-- Link Swiper's CSS -->
	<link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css}" />
	<script th:src="@{https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js}"></script>
	<script>
		//1문제 해결완료
		/*$(function() {
			$('input[name="datetimes"]').daterangepicker({
				timePicker: false,
				startDate: moment().startOf('day'),
				endDate: moment().startOf('day').add(32, 'hour'),
				locale: {
					format: 'YYYY-MM-DD'
				}
			}, function(start, end, label) {
				console.log("Start Date: " + start.format('YYYY-MM-DD'));
				console.log("End Date: " + end.format('YYYY-MM-DD'));
				$('input[name="checkIn"]').val(start.format('YYYY-MM-DD'));
				$('input[name="checkOut"]').val(end.format('YYYY-MM-DD'));
			});
  
			// 초기 값 설정 (필요시)
			var initialStartDate = $('input[name="datetimes"]').data('daterangepicker').startDate.format('YYYY-MM-DD');
			var initialEndDate = $('input[name="datetimes"]').data('daterangepicker').endDate.format('YYYY-MM-DD');
			$('input[name="checkIn"]').val(initialStartDate);
			$('input[name="checkOut"]').val(initialEndDate);
		});*/

		$(function () {
			$('#bo_checkIn').daterangepicker({
				timePicker: false,
				startDate: moment().startOf('day'),
				endDate: moment().startOf('day').add(1, 'days'),
				locale: {
					format: 'YYYY-MM-DD'
				}
			}, function (start, end) {
				// 선택된 날짜 범위를 로컬 저장소에 저장
				localStorage.setItem('startDate', start.format('YYYY-MM-DD'));
				localStorage.setItem('endDate', end.format('YYYY-MM-DD'));
				$('input[name="checkIn"]').val(start.format('YYYY-MM-DD'));
				$('input[name="checkOut"]').val(end.format('YYYY-MM-DD'));
			});

			$('#form1').on('submit', function (event) {
				// 로컬 저장소에 저장된 데이터를 클리어하지 않도록 주의
				var acc_name = document.getElementById('acc_name').value;
				var acc_area = document.getElementById('acc_area').value;
				localStorage.setItem('acc_name', acc_name);
				localStorage.setItem('acc_area', acc_area);
				localStorage.setItem('startDate', $('#bo_checkIn').data('daterangepicker').startDate.format('YYYY-MM-DD'));
				localStorage.setItem('endDate', $('#bo_checkIn').data('daterangepicker').endDate.format('YYYY-MM-DD'));
			});

			// 초기 값 설정 (필요시)
			var initialStartDate = $('input[name="datetimes"]').data('daterangepicker').startDate.format('YYYY-MM-DD');
			var initialEndDate = $('input[name="datetimes"]').data('daterangepicker').endDate.format('YYYY-MM-DD');
			$('input[name="checkIn"]').val(initialStartDate);
			$('input[name="checkOut"]').val(initialEndDate);
		});

		/* 시도1
		 const form1 = document.getElementById('form1');
		 const checkRange = document.getElementById('checkRange');
		 
		 form1.addEventListener('submit',function(e){
			e.preventDefault();
		    
			const checkRangeValue = checkRange.value;
		    
			localStorage.setItem('checkRange', checkRangeValue);
		    
			form1.action="/search/selectSearch.do";
			form1.method="get";
		 });
		 
		 */
	</script>

</head>

<body>
	<th:block layout:fragment="content">
		<div id="main_content">
			<section id="search_section">
				<div class="main_banner">
					<video src="images/video/main_video.mp4" poster="/images/main_image.jpg" width="1920" height="450" loop="1" autoplay="1" muted="1"></video>
				</div>
				<div class="content_box" id="search_box">
					<form th:action="@{/search/selectSearch.do}" method="get" id="form1">
						<!--숙소-->
						<div class="inputWrap">
							<i class="fas fa-search" aria-hidden="true"></i>
							<input type="search" id="acc_name" name="acc_name" placeholder="숙소명을 입력해주세요.">
						</div>

						<!--지역-->
						<div class="location">
							<i class="fas fa-location-dot"></i>
							<input type="search" id="acc_area" name="acc_area" placeholder="지역을 입력하세요.">
						</div>

						<!--날짜 영역-->
						<div class="search_In">
							<i class="fas fa-calendar-days"></i>
							<!-- id="bo_checkIn"에서 id="checkRange1"로 바꿨을 값 전달받을 게 있어서 시도 실패-->
							<input type="text" name="datetimes" required id="bo_checkIn">
							<!--2024-07-20 기능 수정-->
							<input type="hidden" name="checkIn">
							<input type="hidden" name="checkOut">
							<!--2024-07-20 기능 완료-->
						</div>
						<input type="submit" id="submit" class="search_btn" value="검색">
					</form>
				</div>
			</section>

			<!-- 첫번째 슬라이드 -->
			<div class="slider">
				<h2>자몽다's PICK</h2>
				<div class="inner">
					<ul class="swiper-wrapper slide_list">
						<li class="swiper-slide">
							<a th:href="@{/search/detailSearch.do(aid=${jamongdaAccListAcc_id[0]})}">
								<img
									th:src="@{/accDownload.do(acc_id=${jamongdaAccListAcc_id[0]}, acc_image=${jamongdaAccListImage[0]})}">
							</a>
						</li>
						<li class="swiper-slide">
							<a th:href="@{/search/detailSearch.do(aid=${jamongdaAccListAcc_id[1]})}">
								<img
									th:src="@{/accDownload.do(acc_id=${jamongdaAccListAcc_id[1]}, acc_image=${jamongdaAccListImage[1]})}">
							</a>
						</li>
						<li class="swiper-slide">
							<a th:href="@{/search/detailSearch.do(aid=${jamongdaAccListAcc_id[2]})}">
								<img
									th:src="@{/accDownload.do(acc_id=${jamongdaAccListAcc_id[2]}, acc_image=${jamongdaAccListImage[2]})}">
							</a>
						</li>
						<li class="swiper-slide">
							<a th:href="@{/search/detailSearch.do(aid=${jamongdaAccListAcc_id[3]})}">
								<img
									th:src="@{/accDownload.do(acc_id=${jamongdaAccListAcc_id[3]}, acc_image=${jamongdaAccListImage[3]})}">
							</a>
						</li>
						<li class="swiper-slide">
							<a th:href="@{/search/detailSearch.do(aid=${jamongdaAccListAcc_id[4]})}">
								<img
									th:src="@{/accDownload.do(acc_id=${jamongdaAccListAcc_id[4]}, acc_image=${jamongdaAccListImage[4]})}">
							</a>
						</li>
						<li class="swiper-slide">
							<a th:href="@{/search/detailSearch.do(aid=${jamongdaAccListAcc_id[5]})}">
								<img
									th:src="@{/accDownload.do(acc_id=${jamongdaAccListAcc_id[5]}, acc_image=${jamongdaAccListImage[5]})}">
							</a>
						</li>
					</ul>
				</div>
				<span class="btn btn_prev">이전</span>
				<span class="btn btn_next">다음</span>
			</div>

			<!-- 두번째 슬라이드 -->
			<div class="slider">
				<!--서울/강릉/제주도/속초/여수/부산/인천/가평-->
				<h2>국내 인기 여행지</h2>
				<div class="inner">
					<ul class="swiper-wrapper slide_list">
						<li class="swiper-slide swiper-slide1">
							<a
								th:href="@{/search/selectSearch.do(acc_name=${''}, acc_area=${'서울'}, datetimes=${datetimes}, checkIn=${today}, checkOut=${tomorrow})}">
								<img src="/images/area/seoul.jpg" alt="서울">
							</a>
						</li>
						<li class="swiper-slide swiper-slide1">
							<a
								th:href="@{/search/selectSearch.do(acc_name=${''}, acc_area=${'강릉'}, datetimes=${datetimes}, checkIn=${today}, checkOut=${tomorrow})}">
								<img src="/images/area/gangneung.jpg" alt="강릉">
							</a>
						</li>
						<li class="swiper-slide swiper-slide1">
							<a
								th:href="@{/search/selectSearch.do(acc_name=${''}, acc_area=${'제주도'}, datetimes=${datetimes}, checkIn=${today}, checkOut=${tomorrow})}">
								<img src="/images/area/jejudo2.jpg" alt="제주도">
							</a>
						</li>
						<li class="swiper-slide swiper-slide1">
							<a
								th:href="@{/search/selectSearch.do(acc_name=${''}, acc_area=${'속초'}, datetimes=${datetimes}, checkIn=${today}, checkOut=${tomorrow})}">
								<img src="/images/area/sokcho.jpg" alt="속초">
							</a>
						</li>
						<li class="swiper-slide swiper-slide1">
							<a
								th:href="@{/search/selectSearch.do(acc_name=${''}, acc_area=${'여수'}, datetimes=${datetimes}, checkIn=${today}, checkOut=${tomorrow})}">
								<img src="/images/area/yeosu.jpeg" alt="여수">
							</a>
						</li>
						<li class="swiper-slide swiper-slide1">
							<a
								th:href="@{/search/selectSearch.do(acc_name=${''}, acc_area=${'부산'}, datetimes=${datetimes}, checkIn=${today}, checkOut=${tomorrow})}">
								<img src="/images/area/busan.jpg" alt="부산">
							</a>
						</li>
						<li class="swiper-slide swiper-slide1">
							<a
								th:href="@{/search/selectSearch.do(acc_name=${''}, acc_area=${'인천'}, datetimes=${datetimes}, checkIn=${today}, checkOut=${tomorrow})}">
								<img src="/images/area/incheon.jpg" alt="인천">
							</a>
						</li>
						<li class="swiper-slide swiper-slide1">
							<a
								th:href="@{/search/selectSearch.do(acc_name=${''}, acc_area=${'가평'}, datetimes=${datetimes}, checkIn=${today}, checkOut=${tomorrow})}">
								<img src="/images/area/gapyeong.webp" alt="가평">
							</a>
						</li>
					</ul>
				</div>
				<span class="btn btn_prev">이전</span>
				<span class="btn btn_next">다음</span>
			</div>

			<!--세번째 슬라이드-->
			<div class="slider">
				<h2>최저가 숙소</h2>
				<div class="inner">
					<ul class="swiper-wrapper slide_list">
						<li class="swiper-slide">
							<a th:href="@{/search/detailSearch.do(aid=${lowestAccListAcc_id[0]})}">
								<img
									th:src="@{/accDownload.do(acc_id=${lowestAccListAcc_id[0]}, acc_image=${lowestAccListImage[0]})}">
							</a>
						</li>
						<li class="swiper-slide">
							<a th:href="@{/search/detailSearch.do(aid=${lowestAccListAcc_id[1]})}">
								<img
									th:src="@{/accDownload.do(acc_id=${lowestAccListAcc_id[1]}, acc_image=${lowestAccListImage[1]})}">
							</a>
						</li>
						<li class="swiper-slide">
							<a th:href="@{/search/detailSearch.do(aid=${lowestAccListAcc_id[2]})}">
								<img
									th:src="@{/accDownload.do(acc_id=${lowestAccListAcc_id[2]}, acc_image=${lowestAccListImage[2]})}">
							</a>
						</li>
						<li class="swiper-slide">
							<a th:href="@{/search/detailSearch.do(aid=${lowestAccListAcc_id[3]})}">
								<img
									th:src="@{/accDownload.do(acc_id=${lowestAccListAcc_id[3]}, acc_image=${lowestAccListImage[3]})}">
							</a>
						</li>
						<li class="swiper-slide">
							<a th:href="@{/search/detailSearch.do(aid=${lowestAccListAcc_id[4]})}">
								<img
									th:src="@{/accDownload.do(acc_id=${lowestAccListAcc_id[4]}, acc_image=${lowestAccListImage[4]})}">
							</a>
						</li>
						<li class="swiper-slide">
							<a th:href="@{/search/detailSearch.do(aid=${lowestAccListAcc_id[5]})}">
								<img
									th:src="@{/accDownload.do(acc_id=${lowestAccListAcc_id[5]}, acc_image=${lowestAccListImage[5]})}">
							</a>
						</li>
						<li class="swiper-slide">
							<a th:href="@{/search/detailSearch.do(aid=${lowestAccListAcc_id[6]})}">
								<img
									th:src="@{/accDownload.do(acc_id=${lowestAccListAcc_id[6]}, acc_image=${lowestAccListImage[6]})}">
							</a>
						</li>
						<li class="swiper-slide">
							<a th:href="@{/search/detailSearch.do(aid=${lowestAccListAcc_id[7]})}">
								<img
									th:src="@{/accDownload.do(acc_id=${lowestAccListAcc_id[7]}, acc_image=${lowestAccListImage[7]})}">
							</a>
						</li>
					</ul>
				</div>
				<span class="btn btn_prev">이전</span>
				<span class="btn btn_next">다음</span>
			</div>
		</div>
	</th:block>
</body>

</html>