<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>회원 목록 조회</title>
</head>
<body>
		<h2 align="center">회원목록</h2>
		<table border="1" align="center" width="1000">
			<tr align="center" bgcolor="lightgreen">
				<th>이메일</th><th>비밀번호</th><th>이름</th><th>전화번호</th><th>주소</th><th>생년월일</th><th>구분</th><th>수정</th><th>삭제</th>
			</tr>
			<tr align="center" th:each="member:${membersList}">
				<td th:text=${member.email}></td>
				<td th:text=${member.pwd}></td>
				<td th:text=${member.name}></td>
				<td th:text=${member.tel}></td>
				<td th:text=${member.address}></td>
				<td th:text=${member.birth}></td>
				<td th:text=${member.role}></td>
				<td><a th:href="@{/member/updateMemberForm.do(email=${member.email})}">수정</a></td>
				<td><a th:href="@{/member/deleteMember.do(email=${member.email})}">삭제</a></td>
			</tr>
	
		</table>
		<p align="center">
			<a href="/member/memberForm.do">회원가입</a>
		</p>
</body>
</html>