<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="/layout/layout">
<head>
<meta charset="UTF-8">
<title>로그인창</title>
<link rel="stylesheet" th:href="@{/css/loginForm.css}" />
<script type="text/javascript" th:src="@{/js/common.js}"></script>
</head>
<body>
    <th:block layout:fragment="content">
		<div th:if="${message}" th:text="${message}"></div>
		<div id="guest_login_area">
	        <p align="center" class="login-links">
	            <a th:href="@{/member/loginForm_guest.do}" class="selected">회원 로그인</a>
	            <a th:href="@{/member/loginForm_host.do}">사업자 로그인</a>
	        </p>
	        <form name="frmGuestLogin" action="/member/login_guest.do" method="post" class="login-form">
	            <table>
	                <tr>
	                    <td>이메일</td>
	                    <td><input type="text" name="email" required></td>
	                </tr>
	                <tr>
	                    <td>비밀번호</td>
	                    <td><input type="password" name="pwd" required></td>
	                </tr>
	            </table>
	            <p align="center" class="txt" th:text="${param.result}"></p>
	            <p align="center" class="submit_block">
	                <input type="submit" value="로그인">
	                <!--<a href="#">비밀번호 찾기</a>-->
	                <a th:href="@{/member/memberForm.do}">회원가입</a>
	            </p>
        	</form>
		</div>	
    </th:block>
</body>
</html>
