<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>사업자 회원 가입</title>
<link rel="stylesheet" th:href="@{/css/memberForm_host.css}" />
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<!--<script type="text/javascript" th:src="@{/js/common.js}"></script>-->
<script type="text/javascript" th:src="@{/js/memberForm_host.js}"></script>
<script th:src="@{//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js}"></script>
</head>
<body>
	<form name="frmMember" action="/member/insertMemberH.do" method="post">
	        <table>
	        <tr>
	            <td><h2>회원가입</h2></td>
	        </tr>
	        <tr><td>이메일 <button type="button" class="valEmail" onclick="valEmail();">이메일 인증</button></td></tr>
	        <tr>
	            <td>
					<input type="text" name="email" id="email" class="email" placeholder="이메일을 입력하세요" required>
	            </td>
	        </tr>

	        <tr><td>사업자등록번호 <button type="button" class="valRegNumber" onclick="valRegNumber();">사업자 인증</button></td></tr>
	        <tr><td><input type="text" id="regNumber" name="regNumber" class="text" placeholder="예시) 1112233333"
							oninput="oninputRegNum(this)" maxlength="12"></td></tr>
	        <tr><td>이름</td></tr>
	        <tr><td>
	            <input type="text" id="name" name="name" class="text" placeholder="이름을 입력하세요" required>
	        </td></tr>
	        <tr><td>비밀번호</td></tr>
	        <tr>
				<td>* 4~10자리 이내로 입력해주세요</td>
			</tr>
			<tr>
				<td><input type="password" id="pwd" name="pwd" class="text" oninput="pwd_Chk();" required></td>
			</tr>
	        <tr><td>비밀번호 확인</td></tr>
			<tr><td><span id="pwdChk_msg"></span></td></tr>
	        <tr>
				<td>
					<input type="password" id="pwdChk" name="pwdChk" class="text" oninput="pwd_Chk();"required>
				</td>
			</tr>
	        <tr><td>전화번호</td></tr>
	        <tr><td><input type="tel" id="tel" name="tel" class="text" placeholder="예시) 하이픈(-)을 제외하고 입력해주세요" required
							oninput="oninputTel(this)" maxlength="13"></td></tr>
			
	        
	        <tr><td><input type="submit" value="가입하기" id="submitBtn" class="submitBtn"></td></tr>
	        </table>
	    </form>
</body>
</html>