<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="layout/layout">
<head>
<meta charset="UTF-8">
<title>JAMONGDA : 회원정보 수정</title>
<link rel="stylesheet" th:href="@{/css/updateMemberForm.css}" />
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script th:src="@{//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js}"></script>
<script th:src="@{/js/updateMemberForm.js}"></script>
</head>
<body>
    <th:block layout:fragment="content">
        <form name="frmUpdateMember" action="/member/updateMember.do" method="post" onsubmit="return validateBtn()">
            <table>
                <tr>
                    <td><h2>회원 정보 수정</h2></td>
                </tr>
                
                <tr><td>이메일</td></tr>
                <tr>
                    <td>
                        <input type="text" id="email" class="email" th:value="${member.email}" disabled>
                        <input type="hidden" name="email" th:value="${member.email}">
                    </td>
                </tr>
                
                <tr><td>이름</td></tr>
                <tr><td>
                    <input type="text" id="name" name="name" class="text" th:value="${member.name}">
                </td></tr>
                
                <tr><td>비밀번호 <button type="button" id="updatePwdBtn" onclick="updatePwd()">비밀번호 변경</button></td></tr>
                <tr>
                    <td><input type="password" id="pwd" name="pwd" class="text" th:value="${member.pwd}" disabled
                            onmousedown="showPassword('pwd')" onmouseup="hidePassword('pwd')" onmouseout="hidePassword('pwd')"></td>
                </tr>
                <tr><td id="pwdChk2" hidden>비밀번호 확인</td></tr>
                <tr><td><span id="pwdChk_msg"></span></td></tr>
                <tr>
                    <td>
                        <input type="password" id="pwdChk" name="pwdChk" class="text"
                                oninput="pwd_Chk()" hidden
                                onmousedown="showPassword('pwdChk')" onmouseup="hidePassword('pwdChk')" onmouseout="hidePassword('pwdChk')">
                    </td>
                </tr>      
                <tr>
                    <td><button type="button" id="submitPwd" onclick="validatePwd()" hidden>변경하기</button>
                    <button type="button" id="resetPwd" onclick="reset_Pwd()" hidden>변경취소</button></td>
                </tr>
                <tr>
                    <td>* 변경하기를 눌러야 변경된 비밀번호가 적용됩니다.</td>
                </tr>
                
                <tr>
                    <td>전화번호</td>
                </tr>
                <tr>
                    <td>
                        <input type="tel" id="tel" name="tel" class="text" required
                               oninput="oninputTel(this)" maxlength="13" th:value="${member.tel}">
                    </td>
                </tr>
                <tr><td>주소 <button type="button" class="findPostCode" onclick="findPostCode();">주소 변경</button></td></tr>
                <tr><td>* 주소변경 시 "확인" 버튼을 꼭 눌러주셔야 변경됩니다.</td></tr>
                <tr><td><button type="button" class="updateAdd" onclick="updateAdd();">확인</button></td></tr>
                <tr><td><input type="tel" name="postCode" id="postCode" maxlength="5" size="6" title="우편번호" class="text" placeholder="우편번호를 입력하세요" hidden></td></tr>
                <tr><td><input type="text" id="address1" name="address1" class="text" placeholder="주소를 입력하세요" hidden></td></tr>
                <tr><td><input type="text" id="address2" name="address2" class="text" placeholder="상세주소를 입력하세요" hidden></td></tr>
                
                <tr>
                    <td><input type="text" id="address" name="address" class="text" th:value="${member.address}"></td>
                </tr>
                
                <tr><td>생년월일</td></tr>
                <tr>
                    <td><input type="text" id="birth" name="birth" class="text"
                                oninput="oninputBirth(this)" maxlength="10" th:value="${member.birth}"></td>
                </tr>
                
                <tr><td><input type="submit" value="수정" id="submitBtn" class="submitBtn"></td></tr>
                <td><a th:href="@{/member/listMembers.do}">목록으로 돌아가기</a></td>
            </table>
        </form>
    </th:block>
</body>
</html>
